body {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

#result, #guesses {
  margin-top: 20px;
}

textarea  
{  
   font-family: 'Share Tech Mono', monospace;  
   font-size: 12px;   
}

hr {
  width: 90%;
}
